body {
  margin: 0;
  padding: 0;
}

body, input, select, textarea, button { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility; }

$breakpoint-xs: '(min-width: 640px)';
$breakpoint-sm: '(min-width: 800px)';
$breakpoint-md: '(min-width: 960px)';
$breakpoint-lg: '(min-width: 1280px)';
$breakpoint-xl: '(min-width: 1440px)';

$container-width: 102.85714286rem;
$columns: 16;

.group {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@import './blog-post-layout';
@import './homepage-layout';
@import './whitespace';
@import './grid';
@import './flex';
