$container-width: 90rem !default;
$columns: 12 !default;

.clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.container {
  @extend .clearfix;

  display: block;
  max-width: $container-width;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  @extend .clearfix;

  // display: block;
}

[class^='col-'],
[class*=' col-'] {
  float: left;
  width: 100%;
  box-sizing: border-box;

  &[class*='right'] { float: right; }
  &[class*='center'] { margin-left: auto; margin-right: auto; }
}

@for $i from 1 through $columns {
  .col-#{$i} { width: ($i/$columns * 100%); }
  .col-third { width: (100% / 3); }
  .push-#{$i} { margin-left: ($i/$columns * 100%); }
}

@media #{$breakpoint-xs} {
  .push-xs-0 { margin-left: 0; }

  @for $i from 1 through $columns {
    .col-xs-#{$i} { width: ($i/$columns * 100%); }
    .col-xs-third { width: (100% / 3); }
    .push-xs-#{$i} { margin-left: ($i/$columns * 100%); }
  }
}

@media #{$breakpoint-sm} {
  .push-sm-0 { margin-left: 0; }

  @for $i from 1 through $columns {
    .col-sm-#{$i} { width: ($i/$columns * 100%); }
    .col-sm-third { width: (100% / 3); }
    .push-sm-#{$i} { margin-left: ($i/$columns * 100%); }
  }
}

@media #{$breakpoint-md} {
  .push-md-0 { margin-left: 0; }

  @for $i from 1 through $columns {
    .col-md-#{$i} { width: ($i/$columns * 100%); }
    .col-md-third { width: (100% / 3); }
    .push-md-#{$i} { margin-left: ($i/$columns * 100%); }
  }
}

@media #{$breakpoint-lg} {
  .push-lg-0 { margin-left: 0; }

  @for $i from 1 through $columns {
    .col-lg-#{$i} { width: ($i/$columns * 100%); }
    .col-lg-third { width: (100% / 3); }
    .push-lg-#{$i} { margin-left: ($i/$columns * 100%); }
  }
}

@media #{$breakpoint-xl} {
  .push-xl-0 { margin-left: 0; }

  @for $i from 1 through $columns {
    .col-xl-#{$i} { width: ($i/$columns * 100%); }
    .col-xl-third { width: (100% / 3); }
    .push-xl-#{$i} { margin-left: ($i/$columns * 100%); }
  }
}
