.homepage-layout {
  font-family: "Montserrat", sans-serif;
  background: #2c2e36;
  color: #e3e7ef;
  font-size: 21px;
  line-height: 1.6;
  padding-bottom: 10vh;
  padding-top: 2vw;

  * {
    margin: 0;
    padding: 0;
    border: 0;
  }
}
