<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    {{ if .Title }}
      <title>{{ .Title }} » Paul Straw</title>
    {{else}}
      <title>Paul Straw</title>
    {{ end }}
    <link rel="stylesheet" href="/css/main.css"/>

    <meta name="description" content="I like making things and helping people.">

    <link rel="shortcut icon" href="favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">
  </head>

  <body class="sans-serif">
