{{ partial "head" . }}

<div class="inner">
  <main>
    <h1>Hello, I’m Paul Straw.</h1>

    <p>I like making all sorts of things, like <a href="https://store.steampowered.com/app/626570">virtual reality games</a>, <a href="https://spec.fm/podcasts/does-not-compute">podcasts</a>, <a href="https://paul.st/FPChw0kkZKQU.html">experimental blogs</a>, <a href="http://seainthesky.com/">generative art</a>, and <a href="https://soundcloud.com/paulstraw">mediocre music</a>.</p>

    <p>Professionally speaking, I'm CTO/Co-Founder at <a href="https://nestnotes.com">Nestnotes</a>. We're working to help families preserve and protect their most important memories. Previously, I was at imgix handling developer relations. Before that, I was Consulting Director/Partner at Octopus, a boutique design and development studio located in Santa Cruz.</p>

    <p>You can find me on <a href="https://twitter.com/paulstraw">Twitter</a>, <a href="https://github.com/paulstraw">GitHub</a>, <a href="https://instagram.com/paulstraw">Instagram</a>, and <a href="&#x6d;&#97;&#x69;&#x6c;&#x74;&#111;&#x3a;&#112;&#97;&#117;&#x6c;&#x73;&#x74;&#114;&#x61;&#119;&#64;&#x70;&#x61;&#x75;&#108;&#x73;&#x74;&#x72;&#x61;&#x77;.&#x63;&#111;&#x6d;">&#x70;&#97;&#117;&#108;s&#x74;&#114;a&#x77;&#x40;&#112;&#x61;&#x75;&#108;&#115;&#116;&#114;&#97;&#119;&#46;&#99;&#111;&#x6d;</a>. 👋</p>
  </main>
</div>

<div class="inner beep">
  <hr>
</div>

{{ partial "blog" . }}

{{ partial "footer" . }}
