{{ partial "head" . }}

<div class="inner">
  <main>
    <h1>Hello, I’m Paul Straw.</h1>

    <p>I'm currently traveling the United States with my wife and two dogs. I make videos about the trip whenever I can, and publish them <a href="https://youtube.com/notpaulstraw">on YouTube</a>. Here's the most recent one:</p>

    <div id="latest-episode-wrapper">
      <div class="frame-wrapper">
        <img src="/aspect-dingus.gif">

        <iframe
          id="vlog-frame"
          src="https://www.youtube.com/embed?controls=1&playsinline=1&showinfo=0&rel=0&listType=user_uploads&list=notpaulstraw&enablejsapi=1"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
    </div>


    <p>🌊🚐🏔</p>

    <div id="the-lights"></div>
  </main>
</div>

{{ partial "footer" . }}
