{{ partial "head" . }}

<div class="inner">
  <main>
    <h1>Hello, I’m Paul Straw.</h1>

    <p>I like making all sorts of things, like <a href="https://vrrv.games">virtual reality games</a>, <a href="https://spec.fm/podcasts/does-not-compute">podcasts</a>, <a href="http://seainthesky.com/">generative art</a>, and <a href="https://soundcloud.com/paulstraw">mediocre music</a>.</p>

    <p>I'm currently traveling the United States in an RV with my wife and two dogs. <a href="https://instagram.com/paulstraw">You should follow me on Instagram</a>, where I regularly post updates of new electronics inventions (and the occasional beautiful vista/dog). 👋</p>
  </main>
</div>

<div class="inner beep">
  <hr>
</div>

{{ partial "blog" . }}

{{ partial "footer" . }}
